Source: aw-drivers-dkms
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,
               dh-sequence-dkms

Package: img-bxm-dkms
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: dkms sources for Allwinner platform IMG BXM GPU drivers
 This package provides the dkms source code for Allwinner platform
 IMG BXM GPU drivers.
